body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(149, 191, 236)  ;
}

h1 {
    color: rgb(21, 14, 92);
    font-weight: bolder;
    font-size: 3em;
}

#choice {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#choice button,  #resetScore {
    width: 200px;
    text-align: center;
    font-size: 1.2em;
    padding: 12px 5px;
    cursor:pointer;
    border: 2px solid;
    border-radius: 12px;
    border-color: white;
    background: #232526 ;
    color: #fff;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

#played {
    margin: 32px auto;
    font-size: 1.1em;
    color: rgb(21, 14, 92);
    padding: 10px 0;
    border-radius: 10px;
    max-width: 400px;
}

#result {
    margin: 24px auto;
    font-size: 1em;
    color: #fff;
    background: #404142;
    padding: 8px 0;
    border-radius: 10px;
    max-width: 400px;
}


#resetScore:hover, #choice button:hover {
    background: #fff;
    border-color: #232526;
    color: #232526;
}

